* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "DM Sans";
}
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 20px 20px 20px;
}
.banner img {
  width: 150px;
  height: auto;
}
.ph-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  position: relative;
}
@media (min-width: 1200px) {
  .ph-header {
    margin: 0 100px;
    padding: 63px 35px 48px 65px;
    background: #fafafa;
  }
  .ph-contact {
    left: 480px;
    top: 60px;
  }
  .banner img {
    width: 200;
  }
}
.ph-infos .ph-name {
  font-size: 2.8em;
  color: #d3573c;
  font-weight: 400;
}
.ph-city {
  color: #901c1c;
  display: block;
}
.ph-tagline {
  display: block;
  font-size: 0.9em;
  margin: 15px;
  color: #525252;
}
.tags {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
.ph-contact {
  top: 0;
  transform: translateX(0);
  height: 70px;
  background: #901c1c;
  width: 170px;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  right: 50%;
  bottom: 28px;
  cursor: pointer;
}
.ph-header img {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.works-sort {
  display: block;
  position: relative;
  margin: 20px 0 0 20px;
}
.works-sort .sort-label {
  font-weight: 700;
  margin-right: 25px;
  font-size: 1.2rem;
}
.sort-btn {
  position: absolute;
  top: -7px;
  left: 120px;
  width: 165px;
  background: #901c1c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort-list {
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 120px;
  width: 170px;
  border-radius: 5px;
  color: #fff;
  background: #901c1c;
}
.sort-list li {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
.sort-list li:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
}
.sort-list li:nth-child(2) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.sort-list li:nth-child(3) {
  border-radius: 0 0 5px 5px;
}
.sort-list li:hover {
  background-color: #651414;
  cursor: pointer;
}
.sort-arrow {
  margin-left: 10px;
}
.works-elts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 45px 0;
  padding: 0 20px;
}
.work-elt {
  color: #901c1c;
  font-size: 1.1em;
  font-weight: 500;
  width: 335px;
}
.work-elt a {
  color: #901c1c;
}
a {
  text-decoration: none;
}
.work-elt video {
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}
.work-elt img {
  width: 350px;
  height: 300px;
}
.work-elt-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.work-title {
  width: 225px;
}
.work-elt h2 {
  font-size: 1em;
  font-weight: 400;
}
.ph-data {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 40px;
  background: #db8876;
  width: 375px;
  height: 70px;
  border-radius: 5px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 1.2em;
}
