* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "DM Sans";
}
.banner {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
}
.banner img {
  width: 200px;
  height: auto;
  margin-left: -30px;
}
.ph-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  position: relative;
}
@media (min-width: 1200px) {
  .ph-header {
    margin: 0 100px;
    padding: 63px 35px 48px 65px;
    background: #fafafa;
  }
  .ph-infos .ph-city {
    font-size: 1.2em;
  }
  .ph-contact {
    left: 480px;
    top: 60px;
  }
  .banner {
    flex-direction: row;
    align-items: center;
  }
  .works-elts {
    margin: 45px 100px;
    padding: 0;
  }
}
.ph-infos .ph-name {
  font-size: 2.8em;
  color: #d3573c;
  font-weight: 400;
}
.ph-city {
  color: #901c1c;
  display: block;
}
.ph-tagline {
  display: block;
  font-size: 0.9em;
  margin: 15px 0px;
  color: #525252;
}
.tags {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
.tags a {
  color: #901c1c;
  font-weight: bold;
}
.tags a::before {
  content: "#";
}
.ul {
  list-style: none;
}
.tags li {
  display: flex;
  border: 0.5px solid #c4c4c4;
  border-radius: 30px;
  margin: 3px 6px 3px 0;
  color: #901c1c;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 0.8em;
}
.ph-contact {
  top: 0;
  height: 70px;
  background: #901c1c;
  width: 170px;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  right: 50%;
  bottom: 28px;
  cursor: pointer;
}
.ph-header img {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.works-sort {
  display: block;
  position: relative;
  margin: 20px 0 0 20px;
}
.works-sort .sort-label {
  font-weight: 700;
  margin-right: 25px;
  font-size: 1.2rem;
}
.sort-btn {
  position: absolute;
  top: -7px;
  left: 120px;
  width: 165px;
  background: #901c1c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort-list {
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 120px;
  width: 170px;
  border-radius: 5px;
  color: #fff;
  background: #901c1c;
}
.sort-list li {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
.sort-list li:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
}
.sort-list li:nth-child(2) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.sort-list li:nth-child(3) {
  border-radius: 0 0 5px 5px;
}
.sort-list li:hover {
  background-color: #651414;
  cursor: pointer;
}
.sort-arrow {
  margin-left: 10px;
}
.works-elts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 45px 0;
  padding: 0 20px;
}
.work-elt {
  color: #901c1c;
  font-size: 1.1em;
  font-weight: 500;
  width: 335px;
  margin: 0 5px 30px 0px;
}
.work-elt a {
  color: #901c1c;
}
a {
  text-decoration: none;
}
.work-elt video {
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}
.work-elt img,
.work-elt video {
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}
.work-elt img:hover {
  cursor: pointer;
}
.work-elt-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.work-title {
  width: 225px;
}
.work-elt h2 {
  font-size: 1em;
  font-weight: 400;
}
.ph-data {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 40px;
  background: #db8876;
  width: 375px;
  height: 70px;
  border-radius: 5px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 1.2em;
}
@media (min-width: 900px) {
  .ph-data {
    display: flex;
  }
}
.form-dialog {
  min-width: 300px;
  max-width: 650px;
  display: none;
  z-index: 2;
  width: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  background: #db8876;
  border-radius: 5px;
  padding: 25px 35px 35px 35px;
  box-shadow: 0 0 15px #666;
}
.contact-form header {
  display: flex;
  justify-content: space-between;
  margin: -5px 5px 20px 0;
}
.contact-form h1 {
  font-weight: 400;
  font-size: 2.6em;
}
.contact-form .ph-form-name {
  display: block;
}
.contact-form button {
  background: none;
  border: none;
}
.contact-form label {
  font-size: 1.6em;
  margin: 5px 0 5px 0;
}
.contact-form input,
.contact-form textarea {
  font-size: 1.6em;
}
.cover {
  position: fixed;
  background: rgba(196, 196, 196, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.form-submit {
  margin-top: 25px;
  background: #901c1c;
  color: #fff;
  font-size: 1em;
  width: 170px;
  align-self: center;
}
